@import '../styles/_resets.scss';
@import '../styles/_typography.scss';
@import '../styles/_variables.scss';


body {
    background-image: url(../styles/desktopWave.png);
    background-position:bottom;
    color: $secondary;
    background-size: 120% 90%;
    background-repeat: no-repeat;

}

//default Phone setup

.navbar {
    width: 100%;
    height: 100px;
    color: cadetblue;
    display: flex;
    justify-content: center;
    font-family: $risque;
    font-weight: bold;
    margin-bottom:30px;
    
    &__text {
    
        display: flex;
        flex-direction: column;
        justify-content:  center;
        align-items: center;
        text-align: center;
        height: 100%;
        // margin-right: 100px;
    
        h1 {
            font-size: 20px;
            padding-bottom: 5px;
        }
        h3 {
            font-size: 10px;
            color: black;
        }
    }
    
    &__menu{
        display: flex;
        justify-content: start;    
        height: 100%;
    }
    &__menu:hover {
            opacity: 1;
            color: black;
            border: 1px solid black;
            display: none;
            display: block;
            background-image: url(../styles/menuDropDown-mobile.png);
            background-size: cover;
            background-position: center;
            height: 150px;
            width: 100px;
          }
    
    }
    

    section {
        margin-top: 100px; // Margin away from the Nav bar
    
    }
    
    .information {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 80%;
        border: 2px solid white;
        background-color: #88c0c4;
        margin-top: 40px;
        border-radius: 45%;
        margin-left: auto; // centres block when used with right
        margin-right: auto; // centres block when used with left
        color: $secondary;    
    
          p {
            visibility: hidden;
        }

        h1 {
            display: flex;
            flex-direction: column;        
            justify-content: center;
            align-items: center;
        }
        &__payNow {
            background-color: rgb(150, 177, 235);
            margin-bottom: 5px;
            color: $secondary;
            border-radius: 15%;
        }

        &__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .mail {
                height: 50px;
            }
        }    

        h2 {
            padding: 10px;
            text-align: center;
            margin-bottom: 30px;
        }
    
        
        h4 {
            padding: 10px;
            text-align: center;
            margin-bottom: 15px;
        }
    
        a {
            color: $secondary;
        }
    
        &__package {
            display: flex;
            justify-content: center;
            flex-direction: row;
            color: $secondary;
    
            p {
                visibility: visible;
                text-align: center;
                padding-top: 1px;    
            }
            h3 {
                text-align: center;
                padding-right: 10px;
            }
        } // Need to add payment links for each package - button added for now as static
    
        &__gallery {
            margin-top: 20px;
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-gap: 5px;
    
        }
    
        &__gallery > img {
            margin: auto;
            width: 80px;
            height: 40px;
            margin-bottom: 10px;
            border-radius: 50%;
    }
    
            
        &__socials {
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            }
    
        &__socials > img {
                margin: auto;
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
                border-radius: 50%;
        }
    
    }

    
// PC setup
@media screen and (min-width: 550px) {


.navbar {
border: 2px solid black;
background-color: #00C0FE;
width: 100%;
height: 100px;
display: flex;
justify-content: space-around;
font-family: $risque;
font-weight: bold;
margin-bottom:30px;

&__text {

    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-right: 100px;

    h1 {
        font-size: 30px;
        padding-bottom: 5px;
        color:black;
    }
    h3 {
        font-size: 20px;
        color: black;
    }
}

&__menu{
    display: flex;
    justify-content: start;    
    height: 100%;
    margin-right: 100px; //space between menu and header
}
&__menu:hover {
        opacity: 1;
        color: black;
        border: 1px solid black;
        display: none;
        display: block;
        background-image: url(../styles/menuDropDown.png.png);
         background-size: cover;
        background-position: center;
        height: 200px;
        width: 180px;

      }

}


section {
    margin-top: 100px; // Margin away from the Nav bar

}

.information {
    display: flex;
    flex-direction: column;
    height: 27%;
    width: 60%;
    border: 2px solid white;
    background-color: #88c0c4;
    margin-top: 50px;
    border-radius: 25%;
    margin-left: auto; // centres block when used with right
    margin-right: auto; // centres block when used with left
    color: $secondary;    

      p {
        visibility: visible;
        // padding-top: 30px;
        // padding-left: 20px;
        // padding-right: 20px;
        // padding-bottom: 0px;
        // padding: 5px 5px 5px 5px ;
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;
        // margin-left: auto; // centres block when used with right
        // margin-right: auto; // centres block when used with left
        }

    h1 {
        display: flex;
        flex-direction: column;        
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin-left: auto; // centres block when used with right
        margin-right: auto; // centres block when used with left
        }
    &__payNow {
        background-color: rgb(150, 177, 235);
        margin-bottom: 5px;
        color: $secondary;
        border-radius: 15%;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        // padding-top: 10px;
        // padding-right: 15px;
        // font-size: 20px;
        margin-left: auto; // centres block when used with right
        margin-right: auto; // centres block when used with left
    .h1 {
            font-size: 50px;
        }

        .mail {
            // padding-left: 20px;
            // padding-right: 10px;
            height: 40px;
            // add a mail link or page
                }
    }

    h2 {
        padding: 10px;
        text-align: center;
        margin-bottom: 15px;
    }

    
    h4 {
        padding: 5px;
        text-align: center;
        margin-bottom: 15px;
        font-size: x-large;
    }

    a {
        color: $secondary;
    }

    &__package {
        display: flex;
        justify-content: center;
        flex-direction: row;
        color: $secondary;

        p {
            text-align: center;
            padding-top: 1px;    
        }
        h3 {
            text-align: center;
            padding-right: 10px;
        }
    } // Need to add payment links for each package - button added for now as static

    &__gallery {
        margin-top: 20px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap: 5px;

    }

    &__gallery > img {
        margin: auto;
        width: 80px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 50%;
}

        
    &__socials {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        }

    &__socials > img {
            margin: auto;
            width: 65px;
            height: 65px;
            margin-bottom: 10px;
            border-radius: 50%;
    }

}
}        

